<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body id="index-place">
    <header>
        <img src="../static/images/logo.png" alt="Application Logo" class="logo">
        <nav>
            <a href="index.html">Home</a>
            <a href="login.html" class="login-button" id="login-link">Login</a>
        </nav>
    </header>
    <main>
            <section id="filter">
                <h1>Filter Places</h1>
                    <div>
                        <label for="price-filter">Max Price:</label>
                        <select id="price-filter">
                            <option value="0">All</option>
                            <option value="10">$10</option>
                            <option value="50">$50</option>
                            <option value="100">$100</option>
                        </select>
                    </div>
            </section>
        <section id="places-list">
        </section>
    </main>
    <footer>
        <p>&copy; 2024 All Rights Reserved</p>
    </footer>
    <script src="../static/scripts.js"></script>
</body>
</html>
